.internship{
  margin: 1rem 2rem;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.card {
  border-radius: 10px;
  background: rgb(61, 66, 176, 0.5);
  margin: 0.25rem;
  padding: 1rem;
  height: auto;
  width: 30vw;
  text-align: center;
  overflow: hidden;
}
.card h2 {
  font-size: 1.5rem;
  margin: 1rem 0.25rem;
}
.head {
  font-family: var(--srijan4-font-2);
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 700;
  background: var(--srijan4-gradient-6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0 1rem;
  padding: 2rem;
}
img {
  height: auto;
  width: 20vw;
}
.btn {
  height: 3rem;
  width: 7rem;
  margin: 1.5rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background: rgba(9, 145, 222, 0.38);
  cursor: pointer;
}
.btn:hover {
  background: var(--srijan4-gradient-6);
}
@media (max-width: 880px) {
  .head{
    padding: 2rem 0;
  }
  .box{
    justify-content: space-around;
  }
  .card{
    height: auto;
    width: 45vw;
  }
}
@media (max-width: 800px) {
  .card{
    height: auto;
    width: 80vw;
  }
}